@import "tailwindcss";

@plugin "tailwindcss-spring";

:root {
  --px-primary: var(--m3-light-primary);
  --px-surface-tint: var(--m3-light-surface-tint);
  --px-on-primary: var(--m3-light-on-primary);
  --px-primary-container: var(--m3-light-primary-container);
  --px-on-primary-container: var(--m3-light-on-primary-container);
  --px-secondary: var(--m3-light-secondary);
  --px-on-secondary: var(--m3-light-on-secondary);
  --px-secondary-container: var(--m3-light-secondary-container);
  --px-on-secondary-container: var(--m3-light-on-secondary-container);
  --px-tertiary: var(--m3-light-tertiary);
  --px-on-tertiary: var(--m3-light-on-tertiary);
  --px-tertiary-container: var(--m3-light-tertiary-container);
  --px-on-tertiary-container: var(--m3-light-on-tertiary-container);
  --px-error: var(--m3-light-error);
  --px-on-error: var(--m3-light-on-error);
  --px-error-container: var(--m3-light-error-container);
  --px-on-error-container: var(--m3-light-on-error-container);
  --px-background: var(--m3-light-background);
  --px-on-background: var(--m3-light-on-background);
  --px-surface: var(--m3-light-surface);
  --px-on-surface: var(--m3-light-on-surface);
  --px-surface-variant: var(--m3-light-surface-variant);
  --px-on-surface-variant: var(--m3-light-on-surface-variant);
  --px-outline: var(--m3-light-outline);
  --px-outline-variant: var(--m3-light-outline-variant);
  --px-inverse-surface: var(--m3-light-inverse-surface);
  --px-inverse-on-surface: var(--m3-light-inverse-on-surface);
  --px-inverse-primary: var(--m3-light-inverse-primary);
  --px-surface-container: var(--m3-light-surface-container-lowest);
  --px-surface-container-high: var(--m3-light-surface-container-high);
}

.dark,
[data-theme="dark"] {
  --px-primary: var(--m3-dark-primary);
  --px-surface-tint: var(--m3-dark-surface-tint);
  --px-on-primary: var(--m3-dark-on-primary);
  --px-primary-container: var(--m3-dark-primary-container);
  --px-on-primary-container: var(--m3-dark-on-primary-container);
  --px-secondary: var(--m3-dark-secondary);
  --px-on-secondary: var(--m3-dark-on-secondary);
  --px-secondary-container: var(--m3-dark-secondary-container);
  --px-on-secondary-container: var(--m3-dark-on-secondary-container);
  --px-tertiary: var(--m3-dark-tertiary);
  --px-on-tertiary: var(--m3-dark-on-tertiary);
  --px-tertiary-container: var(--m3-dark-tertiary-container);
  --px-on-tertiary-container: var(--m3-dark-on-tertiary-container);
  --px-error: var(--m3-dark-error);
  --px-on-error: var(--m3-dark-on-error);
  --px-error-container: var(--m3-dark-error-container);
  --px-on-error-container: var(--m3-dark-on-error-container);
  --px-background: var(--m3-dark-background);
  --px-on-background: var(--m3-dark-on-background);
  --px-surface: var(--m3-dark-surface);
  --px-on-surface: var(--m3-dark-on-surface);
  --px-surface-variant: var(--m3-dark-surface-variant);
  --px-on-surface-variant: var(--m3-dark-on-surface-variant);
  --px-outline: var(--m3-dark-outline);
  --px-outline-variant: var(--m3-dark-outline-variant);
  --px-inverse-surface: var(--m3-dark-inverse-surface);
  --px-inverse-on-surface: var(--m3-dark-inverse-on-surface);
  --px-inverse-primary: var(--m3-dark-inverse-primary);
  --px-surface-container: var(--m3-dark-surface-container-lowest);
  --px-surface-container-high: var(--m3-dark-surface-container-high);
}

@theme inline {
  /* colors */
  --color-*: initial;
  --color-primary: var(--px-primary);
  --color-surface-tint: var(--px-surface-tint);
  --color-on-primary: var(--px-on-primary);
  --color-primary-container: var(--px-primary-container);
  --color-on-primary-container: var(--px-on-primary-container);
  --color-secondary: var(--px-secondary);
  --color-on-secondary: var(--px-on-secondary);
  --color-secondary-container: var(--px-secondary-container);
  --color-on-secondary-container: var(--px-on-secondary-container);
  --color-tertiary: var(--px-tertiary);
  --color-on-tertiary: var(--px-on-tertiary);
  --color-tertiary-container: var(--px-tertiary-container);
  --color-on-tertiary-container: var(--px-on-tertiary-container);
  --color-error: var(--px-error);
  --color-on-error: var(--px-on-error);
  --color-error-container: var(--px-error-container);
  --color-on-error-container: var(--px-on-error-container);
  --color-background: var(--px-background);
  --color-on-background: var(--px-on-background);
  --color-surface: var(--px-surface);
  --color-on-surface: var(--px-on-surface);
  --color-surface-variant: var(--px-surface-variant);
  --color-on-surface-variant: var(--px-on-surface-variant);
  --color-outline: var(--px-outline);
  --color-outline-variant: var(--px-outline-variant);
  --color-inverse-surface: var(--px-inverse-surface);
  --color-inverse-on-surface: var(--px-inverse-on-surface);
  --color-inverse-primary: var(--px-inverse-primary);
  --color-surface-container: var(--px-surface-container);
  --color-surface-container-high: var(--px-surface-container-high);
}

@theme {
  /* fonts */
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* breakpoints */
  --breakpoint-sm: 560px;
  --breakpoint-3xl: 1400px;

  /* spacing */
  --spacing-font: 1rem;

  /* shadows */
  --shadow-flat: 0 0 1px 2px alpha(var(--color-on-surface, 0.2));
  --shadow-popover: 0 0 1px alpha(var(--color-on-surface-variant, 0.2)),
    var(--shadow-lg);

  /* animation */
  --animate-spinner-circle: spinner-circle 1.8s linear infinite;

  @keyframes spinner-circle {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

@utility bg-main {
  background-image: linear-gradient(
    135deg,
    alpha(var(--color-secondary-container), 0.3) 0%,
    alpha(var(--color-tertiary-container), 0.3) 100%
  );
}

@utility filter-darker {
  filter: brightness(0.96) saturate(1.2);
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility stack {
  display: grid;
  place-items: center;
  & > * {
    grid-area: 1/1;
  }
}

@utility container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (min-width: theme(--breakpoint-xl)) {
    max-width: var(--breakpoint-xl);
  }
}

@custom-variant intent (&:where(:hover,:focus));

@custom-variant disabled (&:where(disabled,[aria-disabled="true"]));

@utility view-transition-* {
  view-transition-name: --value([string]);
}

@utility view-transition-class-* {
  view-transition-class: --value([string]);
}

@utility anchor-* {
  anchor-name: --value([string]);
}

@utility to-anchor-* {
  position-anchor: --value([string]);
}

@utility overflow-snap-* {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-block: calc(-1 * var(--spacing) * --value([integer], --spacing-2));
  padding-block: var(--spacing) * --value([integer], --spacing-2);
  & > * {
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  & > *:last-of-type {
    scroll-snap-align: end;
  }
}
