@import "tailwindcss";

@plugin "tailwindcss-spring";

:root {
  --kin-primary: #106b57;
  --kin-surface-tint: #106b57;
  --kin-on-primary: #ffffff;
  --kin-primary-container: #a2f2d9;
  --kin-on-primary-container: #002018;
  --kin-secondary: #4b635b;
  --kin-on-secondary: #ffffff;
  --kin-secondary-container: #cde9de;
  --kin-on-secondary-container: #072019;
  --kin-tertiary: #416276;
  --kin-on-tertiary: #ffffff;
  --kin-tertiary-container: #c4e7ff;
  --kin-on-tertiary-container: #001e2d;
  --kin-error: #ba1a1a;
  --kin-on-error: #ffffff;
  --kin-error-container: #ffdad6;
  --kin-on-error-container: #410002;
  --kin-background: #f5fbf6;
  --kin-on-background: #171d1b;
  --kin-surface: #f5fbf6;
  --kin-on-surface: #171d1b;
  --kin-surface-variant: #dbe5df;
  --kin-on-surface-variant: #3f4945;
  --kin-outline: #6f7975;
  --kin-outline-variant: #bfc9c4;
  --kin-inverse-surface: #2b322f;
  --kin-inverse-on-surface: #ecf2ee;
  --kin-inverse-primary: #87d6bd;
  --kin-surface-container: #ffffff;
  --kin-surface-container-high: #e3eae5;
}

.dark,
[data-theme="dark"] {
  --kin-primary: #87d6bd;
  --kin-surface-tint: #87d6bd;
  --kin-on-primary: #00382c;
  --kin-primary-container: #005141;
  --kin-on-primary-container: #a2f2d9;
  --kin-secondary: #b2ccc2;
  --kin-on-secondary: #1d352e;
  --kin-secondary-container: #344c44;
  --kin-on-secondary-container: #cde9de;
  --kin-tertiary: #a9cbe2;
  --kin-on-tertiary: #0e3446;
  --kin-tertiary-container: #284b5e;
  --kin-on-tertiary-container: #c4e7ff;
  --kin-error: #ffb4ab;
  --kin-on-error: #690005;
  --kin-error-container: #93000a;
  --kin-on-error-container: #ffdad6;
  --kin-background: #0f1512;
  --kin-on-background: #dee4e0;
  --kin-surface: #0f1512;
  --kin-on-surface: #dee4e0;
  --kin-surface-variant: #3f4945;
  --kin-on-surface-variant: #bfc9c4;
  --kin-outline: #89938e;
  --kin-outline-variant: #3f4945;
  --kin-inverse-surface: #dee4e0;
  --kin-inverse-on-surface: #2b322f;
  --kin-inverse-primary: #106b57;
  --kin-surface-container: #090f0d;
  --kin-surface-container-high: #252b29;
}

@theme inline {
  /* colors */
  --color-*: initial;
  --color-primary: var(--kin-primary);
  --color-surface-tint: var(--kin-surface-tint);
  --color-on-primary: var(--kin-on-primary);
  --color-primary-container: var(--kin-primary-container);
  --color-on-primary-container: var(--kin-on-primary-container);
  --color-secondary: var(--kin-secondary);
  --color-on-secondary: var(--kin-on-secondary);
  --color-secondary-container: var(--kin-secondary-container);
  --color-on-secondary-container: var(--kin-on-secondary-container);
  --color-tertiary: var(--kin-tertiary);
  --color-on-tertiary: var(--kin-on-tertiary);
  --color-tertiary-container: var(--kin-tertiary-container);
  --color-on-tertiary-container: var(--kin-on-tertiary-container);
  --color-error: var(--kin-error);
  --color-on-error: var(--kin-on-error);
  --color-error-container: var(--kin-error-container);
  --color-on-error-container: var(--kin-on-error-container);
  --color-background: var(--kin-background);
  --color-on-background: var(--kin-on-background);
  --color-surface: var(--kin-surface);
  --color-on-surface: var(--kin-on-surface);
  --color-surface-variant: var(--kin-surface-variant);
  --color-on-surface-variant: var(--kin-on-surface-variant);
  --color-outline: var(--kin-outline);
  --color-outline-variant: var(--kin-outline-variant);
  --color-inverse-surface: var(--kin-inverse-surface);
  --color-inverse-on-surface: var(--kin-inverse-on-surface);
  --color-inverse-primary: var(--kin-inverse-primary);
  --color-surface-container: var(--kin-surface-container);
  --color-surface-container-high: var(--kin-surface-container-high);
}

@theme {
  /* fonts */
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* breakpoints */
  --breakpoint-sm: 560px;
  --breakpoint-3xl: 1400px;

  /* spacing */
  --spacing-font: 1rem;

  /* shadows */
  --shadow-flat: 0 0 1px 2px alpha(var(--color-on-surface, 0.2));
  --shadow-popover: 0 0 1px alpha(var(--color-on-surface, 0.2)),
    var(--shadow-lg);

  /* animation */
  --animate-spinner-circle: spinner-circle 1.8s linear infinite;

  @keyframes spinner-circle {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

@utility bg-main {
  background-image: linear-gradient(
    135deg,
    alpha(var(--color-secondary-container), 0.3) 0%,
    alpha(var(--color-tertiary-container), 0.3) 100%
  );
}

@utility filter-darker {
  filter: brightness(0.96) saturate(1.2);
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility stack {
  display: grid;
  place-items: center;
  & > * {
    grid-area: 1/1;
  }
}

@utility container {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (min-width: theme(--breakpoint-xl)) {
    max-width: var(--breakpoint-xl);
  }
}

@custom-variant intent (&:where(:hover,:focus));

@custom-variant disabled (&:where(disabled,[aria-disabled="true"]));

@utility view-transition-* {
  view-transition-name: --value([string]);
}

@utility view-transition-class-* {
  view-transition-class: --value([string]);
}

@utility anchor-* {
  anchor-name: --value([string]);
}

@utility to-anchor-* {
  position-anchor: --value([string]);
}

@utility overflow-snap-* {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-block: calc(-1 * var(--spacing) * --value([integer], --spacing-2));
  padding-block: var(--spacing) * --value([integer], --spacing-2);
  & > * {
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  & > *:last-of-type {
    scroll-snap-align: end;
  }
}
