@reference "@nou/config/theme.css";

@layer components {
  .card {
    position: relative;
    flex-shrink: 0;
    border-radius: var(--radius-lg);
    padding: var(--spacing-3);
    transition:
      border-color 0.24s ease-out,
      background-color 0.24s ease-out,
      color 0.24s ease-out,
      border-radius 0.24s ease-out,
      flex 0.3s ease-out;
    background-color: theme("color.on-background/0.01");
    border: var(--borderWidth-DEFAULT) solid theme("color.on-surface/0.08");
    &:where(:hover, :focus-within) {
      border-color: theme("color.primary/0.3");
      background-color: theme("color.primary/0.05");
    }
    &:where(:active) {
      background-color: theme("color.primary/0.08");
    }
    &:has(:focus-visible):focus-within {
      outline: 4px solid theme("color.on-surface/0.4");
    }
    &:has(input:checked) {
      border-radius: var(--radius-xl);
      border-color: var(--color-primary);
      background-color: var(--color-surface-container-lowest);
      outline-color: theme("color.primary/0.4");
      color: var(--color-primary);
      & .icon {
        background-color: theme("color.primary/0.12");
      }
      &:has(:focus-visible):focus-within {
        outline-color: theme("color.primary/0.4");
      }
      &:before {
        content: "";
        pointer-events: none;
        position: absolute;
        inset: -2px;
        border: 2px solid;
        border-color: inherit;
        opacity: 0.2;
        border-radius: inherit;
      }
    }
  }
  .wrapper {
    display: flex;
    gap: var(--spacing-3);
    align-items: center;
  }
  .icon,
  .label {
    transition: 0.24s ease-out;
    transition-property: color, background-color;
  }
  .icon {
    transition: all 0.24s ease-out;
    padding: var(--spacing-2);
    background-color: theme("color.on-surface/0.08");
    border-radius: var(--radius-full);
  }
  .label {
    transition: color 0.24s ease-out;
  }
}
