@reference "@px/config/theme.css";

@layer components {
  .button {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 2);
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    border: 1px solid var(--color-outline);
    border-radius: var(--radius-full);
    padding-inline: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 10);
    transition: 0.24s ease-out;
    transition-property: background-color;
    user-select: none;

    &:where(:hover, :focus-within) {
      background-color: var(--color-surface-container);
    }
    &:where(:has(:focus-visible):focus-within) {
      outline: 4px auto alpha(var(--color-primary), 0.2);
      outline-offset: 0px;
    }
    &:where(:first-of-type:not(:last-of-type)) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }
    &:where(:last-of-type:not(:first-of-type)) {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
    &:where(:not(:first-of-type)) {
      margin-inline-start: -1px;
    }
    &:has(input:checked) {
      background-color: var(--color-secondary-container);
      color: var(--color-on-secondary-container);
      isolation: isolate;
      & .customIcon {
        opacity: 0;
      }
      & .icon {
        opacity: 1;
      }
      & .label {
        transform: none;
      }
    }
    &:where(:not(:has(.customIcon)), :not(:has(input[checked]))) .label {
      transform: translateX(calc(-1 * var(--icon-size) / 2));
    }
    --icon-size: 1.4em;
  }
  .iconWrapper {
    display: grid;
    flex-shrink: 0;
    & > * {
      display: flex;
      grid-area: 1 / 1;
      font-size: var(--icon-size);
      block-size: var(--icon-size);
      inline-size: var(--icon-size);
    }
    @apply -ms-2;
  }
  .icon {
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  .customIcon {
    line-height: 1;
    transition: opacity 0.2s ease-out;
  }
  .label {
    transition: transform 0.24s ease-out;
    isolation: isolate;
    @apply text-sm;
  }
}
