@import "./theme.css";
@import "@fontsource-variable/inter/index.css" layer(base);

@layer tw-base {
  :root {
    view-transition-name: none;
    interpolate-size: allow-keywords;
  }

  ::view-transition {
    pointer-events: none;
  }

  html,
  body,
  #app {
    scrollbar-gutter: stable;
    background-color: var(--color-background);
    color: var(--color-on-background);
    height: 100%;
    max-width: 100%;
    overscroll-behavior: contain;
  }
  #app {
    overflow-x: hidden;
  }
  /* Flex box children should be able to shrink */
  * {
    min-width: 0;
  }
}

@view-transition {
  navigation: auto;
}
